body { background: #fb6772; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 30px; display: flex; }
.block-router-0 { color: #18b7d; font-size: 16px; margin-bottom: 5px; }
.block-helper-1 { color: #e0398b; font-size: 12px; margin-bottom: 5px; }
.block-order-2 { color: #8d5d20; font-size: 17px; margin-bottom: 5px; }
.block-router-3 { color: #757bde; font-size: 13px; margin-bottom: 5px; }
.block-notify-4 { color: #3a6a1d; font-size: 17px; margin-bottom: 5px; }
.block-payment-5 { color: #884bd9; font-size: 18px; margin-bottom: 5px; }
.block-sms-6 { color: #f363c2; font-size: 21px; margin-bottom: 5px; }
.block-user-7 { color: #fb6f3; font-size: 12px; margin-bottom: 5px; }